*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}
@keyframes toggleAnimation {
  25%,
  50%,
  75% {
    opacity: 1;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease-in-out;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.overflow-hidden {
  overflow: hidden;
}
[v-cloak] {
  display: none;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.4s ease-in-out 2s;
}
.modal-container .modal-box {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate3d(-50%, -50%, 0);
}
.modal-container .modal-header {
  font-size: 3.5em;
}
.modal-container .modal-body {
  font-size: 1.8em;
}
.modal-container .modal-body button {
  font-size: .7em;
}
.color-white {
  color: #fff;
}
.site-wrapper {
  min-height: 100vh;
  height: 100vh;
  display: table;
  width: 100%;
  -webkit-filter: brightness(0);
  filter: brightness(0);
}
.site-wrapper > .inner-site-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.site-wrapper.landingPage {
  background: url('../images/aot.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.site-wrapper.gamePage {
  background: url('../images/_e.png') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.main-title {
  font-size: 9rem;
  text-shadow: 2px 2px #000;
}
.btn-start-game {
  opacity: 0;
  background-color: transparent;
  font-size: 2.8em;
  font-weight: bold;
  color: rgba(250, 100, 50, 0.5);
  text-shadow: 1px 1px black;
  animation-name: toggleAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  border: 0;
  outline: 0;
}
.btn-start-game:focus,
.btn-start-game:hover {
  border: 0;
  outline: 0;
}
.btn-start-game:hover {
  animation-play-state: paused;
}
.page-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
}
.page-layer.page-layer-1 {
  background-color: #fff;
  z-index: 5;
}
.page-layer.page-layer-2 {
  background-color: #aaa;
  z-index: 2;
}
.img-container {
  overflow: hidden;
  margin-bottom: 2vh;
}
.img-container .thumb-img {
  width: 18vw;
  height: 18vw;
  border: 5px solid #fff;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  transition: height 0.8s ease-in-out 0.2s;
}
.img-container .thumb-img.titan {
  float: right;
  background-image: url(../images/colossal.png);
}
.img-container .thumb-img.player {
  background-image: url(../images/eren.jpg);
}
.life-container {
  position: relative;
  background-color: #a4a4a4;
  overflow: hidden;
  box-shadow: inset 0 0 14px 8px rgba(0, 0, 0, 0.2);
}
.life-container .life {
  height: 30px;
  background-color: green;
  background-image: linear-gradient(#96ff83, #59c675, #c7fac7);
  transition: width 0.4s ease-in-out;
}
.char-name {
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
}
.players-choices {
  list-style-type: none;
  padding-left: 0;
  margin: 1.5em 0;
}
.players-choices button {
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
  transition: all 0.4s ease-in-out 0.1s;
}
.players-choices button:disabled {
  cursor: not-allowed;
  filter: brightness(30%);
}
.status-list {
  height: 200px;
  overflow: auto;
  font-size: 1.8em;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  color: #fff;
  perspective: 800px;
  transform-style: preserve-3d;
}
.status-list > li {
  padding: 5px 15px;
}
.status-list > li.enemy-stat {
  background-color: #ebc7bc;
  color: #660e00;
}
.status-list > li.player-stat {
  background-color: #94e283;
  color: #446600;
}
@media screen and (max-width: 991px) {
  .btn-containers:first-of-type,
  .btn-containers:nth-of-type(2) {
    margin-bottom: 1vh;
  }
  .btn-containers:nth-of-type(even) button {
    float: right;
  }
  .btn-containers button {
    font-size: 16px;
  }
  .life-container .life {
    height: 18px;
  }
}
