<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Attack Titan</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
</head>
<body>
      
  <main id="vue-app" class="site-wrapper" v-bind:class="{landingPage: isActive, gamePage: !isActive}" v-cloak>
    <div class="inner-site-wrapper">  

      <!-- section area -->
      <section class="region-area region-area-1 container" v-if="isActive">
        <div class="inner-area inner-area-1">
          <div class="box box-1 text-center color-white overflow-hidden">          
            <h1 class="main-title">
              attack on titan
            </h1>
          </div>
          <div class="box box-1 text-center color-white">          
            <button class="btn btn-start-game"a @click.stop="initGamePlay">Play</button>
          </div>
        </div>
      </section>
      
      <section class="region-area region-area-2 container" v-else>
          <div class="inner-area inner-area-1">
            <div class="box box-1"> 

              <div class="row">
                
                <div class="col-xs-5">

                  <div class="img-container">
                    <div class="thumb-img player"></div>                
                  </div>

                  <div class="life-container">
                    <div class="life" :style="playerLifeObj"></div>
                  </div>

                  <div class="player-name char-name text-left">
                    {{ playersList[0] }}
                  </div>                 
                </div>

                <div class="col-xs-5 col-xs-offset-2">

                  <div class="img-container">
                    <div class="thumb-img titan"></div>
                  </div>

                  <div class="life-container">
                    <div class="life pull-right" :style="enemyLifeObj"></div>
                  </div>

                  <div class="enemy-name char-name text-right">
                    {{ enemiesList[0] }}
                  </div>                    
                </div>
              </div>
              
            </div>
            <div class="box box-2">
              <ul class="players-choices row">
                <li class="btn-containers col-xs-6 col-md-3"><button class="btn-danger" @click.stop="initPlayerAttack">Attack</button></li>
                <li class="btn-containers col-xs-6 col-md-3"><button class="btn-warning" @click.stop="initSpecialAttack">Special Attack</button></li>
                <li class="btn-containers col-xs-6 col-md-3"><button class="btn-success" @click.stop="initHeal">Heal</button></li>
                <li class="btn-containers col-xs-6 col-md-3"><button @click.stop="initGiveUp">Give Up</button></li>  
              </ul>
            </div>

            
            <div class="box box-3" v-show="statusList.length > 0">  
              <ul class="status-list">
                <li v-for="status in statusList">
                  {{ status.statText }}
                </li>
              </ul>
            </div>

          </div>
        </section>      
    </div>

    <!-- this is the modal box -->
    <transition name="fade">
      <div class="modal-container" v-show="showModal">
        <div class="modal-box text-center">
          <div class="modal-header">
            <h2>{{ message }}</h2>
          </div>
          <div class="modal-body">
             <div>PLAY AGAIN ?</div>
            <button @click="initGiveUp" class="btn btn-info">YES</button>
            <button @click="initGoToLoadPage" class="btn btn-danger">NO</button>
          </div>
        </div>
      </div>
    </transition>

  </main>

  <!-- the music track -->
  <audio id="sound-ongame"controls preload="auto" loop hidden>
    <source src="assets/sound/ongame.mp3" type="audio/mpeg">
  </audio>

  <!-- custom animation page transition layers  -->  
  <div class="page-layer page-layer-1"></div>
  <div class="page-layer page-layer-2"></div>


  <!-- use webpack to concat all these files -->
  <script
  src="http://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/CSSPlugin.min.js"></script>
  <script src="assets/js/script.js"></script>

</body>
</html>